.anc{
    padding: 5px;
    border-radius: 50%;
    background-color: #394e64;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
}
.fas{
    padding-top: 5px;
    padding-left: 1px;
}
.display{
    display: none;
}