body{
  margin: 0;
    padding: 0;
    line-height: 1.7em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: #4e657a;

}
a{
    /* color: #007bff; */
    text-decoration: none;
    background-color: transparent;
}

