.container{
    /* width: 100%; */
    /* padding-right: 15px;
    padding-left: 15px; */
    padding: 0px 15px;
    margin-right: 200px;
    margin-left: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.top{
    background-color: #567086;
    padding:  0;
}
.anchor{
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    display: flex;
    align-items: center;
}
.header{
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    color: #fff;
}