.container{
    padding: 15px;
    background-color: #4e657a;
    color: #fff;
    font-size: 95%;
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
}
.imgdiv{
    width: 80px;
    height: 80px;
    background-color: #aaa;
    border-radius: 50%;
    margin-right: 15px;
}
.imgdiv img{
    width: 100%;
    height: 100%;
}
.round{
    border-radius: 50%;
}
.para{
    margin-bottom: 0.5rem;
    font-size: 14px;
}
.span{
    color: #bdcbd8;
    font-size: 100%;
}